.cards{
  width: 920px;
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 60px;
  margin: auto;
  padding-left: 0;
}
